
<div class="js-page">
  <main class="js-document">
    <button type="button" aria-haspopup="dialog" aria-controls="dialog">Ouvrir ma fenêtre modale</button>
  </main>
  <div id="dialog" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-desc" aria-modal="true" aria-hidden="true" tabindex="-1" class="c-dialog">
    <div role="document" class="c-dialog__box">
      <button type="button" aria-label="Fermer" title="Fermer cette fenêtre modale" data-dismiss="dialog">X</button>
      <h2 id="dialog-title">Ma fenêtre modale</h2>
      <p id="dialog-desc">Je suis une fenêtre modale accessible.</p>
      <form action="" method="post">
        <p>
          <label for="email">Email</label><br />
          <input type="email" id="email" />
        </p>
        <p>
          <label for="password">Mot de passe</label><br />
          <input type="password" id="password" />
        </p>
        <p>
          <button type="submit">Valider</button>
        </p>
      </form>
    </div>
  </div>
</div>
<!--<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul>
      <% category.tasks.each do |task|  %>
      <li>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>-->

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>


<div class="container"
<div class="title">Présentation</div>
  <div class="item"><div>

</div>
<div id="caroussel1">
  <div class="item__image">
    <img src="carrou1.jpg" alt="">
    </div>
    <div class="item__body">
      <div class="item__title">
        NOM DU TITRE
        </div>
        <div class="item_description">
        Petite item_description
        </div>
        </div>
        </div>

        <div class="item__image">
          <img src="carrou2.jpg" alt="">
          </div>
          <div class="item__body">
            <div class="item__title">
              NOM DU TITRE
              </div>
              <div class="item_description">
              Petite item_description
              </div>
              </div>

              <div class="item__image">
                <img src="carrou3.jpg" alt="">
                </div>
                <div class="item__body">
                  <div class="item__title">
                    NOM DU TITRE
                    </div>
                    <div class="item_description">
                    Petite item_description
                    </div>
                    </div>


<script src="js/home.coffe"async</script>
